<!doctype html>
<html lang = "en">
<body> 
    <header>
        <a href = "/">Matt's Awesome 11ty Site!</a>
    </header>
<main>
{% if title %}<h1>{{title}}</h1>{% endif %}
{%- if dog %}
<img src = "{{dog}}" alt = "a good dog">
{%- endif %}
    {{content}}
</main>
</body>
</html>